 /** 表格布局 **/
 .pagination-container {
    position: relative;
    margin-bottom: 10px;
    margin-top: 12px;
    padding: 10px !important;
  }
 
  .pagination-container .el-pagination {
    float: right;
  }

  .text-danger {
    color: #ed5565;
  }

  .mt30 {
    margin-top: 30px;
  }

  .tr {
    text-align: right;
  }

  .list-group-striped>.list-group-item {
    border-left: 0;
    border-right: 0;
    border-radius: 0;
    padding-left: 0;
    padding-right: 0;
  }
 
  .list-group {
    padding-left: 0px;
    list-style: none;
  }
 
  .list-group-item {
    border-bottom: 1px solid #e7eaec;
    border-top: 1px solid #e7eaec;
    margin-bottom: -1px;
    padding: 11px 0px;
    font-size: 13px;
  }

  .pull-right {
    float: right !important;
  }

  .tc {
    text-align: center;
  }